.double-pane
  display: flex

  .pane
    width: 50%
    flex: 0 0 50%
    padding-right: 1em;
    margin: 2em 0;
    box-sizing: border-box;

.code
  font-size: 14px;
  background-color: #282c34
  border-radius: 6px
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  color: #e2777a
  padding: 1em;
  white-space: pre;

